<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">

    <title>Counter</title>
</head>
<body>
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Counter!</h1>
          <p class="lead text-muted">
              {{ session['total'] }} times
          </p>
          <p>
            <a href="/reset" id="meButton" class="btn btn-primary my-2">Reset!</a>

            <a href="/add_two" id="meButton" class="btn btn-primary my-2">Add Two!</a>

            <a href="/destroy_session" id="meButton" class="btn btn-primary my-2">Destroy!</a>
          </p>
          <form action="/your_increment" method="post">
              <input type="text" name="your_input">
              <input type="submit" value="Add This!" id="meButton" class="btn btn-primary my-2">
          </form>
        </div>
      </section>
</body>
</html>