<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Balloon</title>
</head>
<body>
    <div class="contianer" style="text-align: center; ">
        <h1>Welcome to the Balloon</h1>
        <p>Make your choice below</p>
        <form action="/right/balloon/death">
            <button>Go This Way</button>
        </form>
        <form action="/right/balloon/survived">
            <button>Go That Way</button>
        </form>
    </div>
</body>
</html>